@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #ffffff;
}

navbar .logo {
  font-size: 28px;
  color: #393e46;
  font-weight: bold;
  padding: 0 12%;
  margin-top: 32px;
}

.main {
  display: flex;
  padding: 0 12%;
  margin-top: 20vh;
  width: 100%;
}
.main .create-join {
  width: 85%;
  margin-right: 50px;
}
.main .create-join .text .head {
  font-size: 36px;
  font-weight: bold;
  color: #393e46;
}
.main .create-join .text .subtext {
  font-size: 24px;
  color: #6f6f6f;
  margin-top: 10px;
}
.main .create-join .createroom-butt {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: #4ecca3;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  border: 2px solid #4ecca3;
  transition: 0.3s;
}
.main .create-join .createroom-butt:hover {
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
  cursor: pointer;
}
.main .create-join .createroom-butt:focus {
  outline: none;
}
.main .create-join .createroom-clicked {
  width: 100%;
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #4ecca3;
  color: #4ecca3;
}
.main .create-join .createroom-clicked:focus {
  outline: none;
}
.main .create-join .roomcode {
  width: 100%;
  margin-top: 30px;
  font-size: 24px;
  color: #393e46;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  font-weight: bold;
}
.main .create-join .roomcode:focus {
  background-color: white;
  border: 0;
  border-bottom: 3px solid #232931;
  border-top: 2px solid white;
  outline: none;
  border-radius: 0;
}
.main .create-join .roomcode-error {
  border-bottom: 3px solid #d31c1c;
}
.main .create-join .joinroom {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  color: #232931;
}
.main .create-join .joinroom:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main .video-cont {
  width: 100%;
  text-align: center;
}
.main .video-cont .video-self {
  height: 400px;
  width: 100%;
  background-color: #393e46;
  border-radius: 10px;
  object-fit: cover;
}
.main .video-cont .settings {
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  width: 100px;
}
.main .video-cont .settings .device {
  background-color: #4ecca3;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.main .video-cont .settings .device:hover {
  background-color: #393e46;
  cursor: pointer;
}
.main .video-cont .settings .nodevice {
  background-color: #b12c2c;
  border-radius: 100px;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  color: white;
}
.main .video-cont .settings .nodevice:hover {
  background-color: #393e46;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .main .create-join {
    width: 100%;
    margin-right: 0;
  }
  .main .video-cont {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #393e46;
}
.overlay .box {
  width: 25%;
  margin: 0 auto;
  height: 200px;
  background-color: #ffffff;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
}
.overlay .box .head-name {
  padding-top: 20px;
  text-align: center;
  color: #393e46;
  font-weight: bold;
}
.overlay .box .name-field {
  margin: 0px auto;
  margin-top: 20px;
  border: 0;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  border-bottom: 3px solid #4ecca3;
  color: #393e46;
  height: 40px;
}
.overlay .box .name-field:focus {
  outline: none;
}
.overlay .box .continue-name {
  border: none;
  margin: 0 auto;
  margin-top: 30px;
  color: #ffffff;
  font-weight: bold;
  background-color: #4ecca3;
  padding: 12px 20px;
  border-radius: 10px;
  transition: opacity 0.5s;
}
.overlay .box .continue-name:hover {
  opacity: 0.8;
  cursor: pointer;
}
.overlay .box .continue-name:focus {
  outline: 0;
}

.container-room {
  margin: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: #ecf0f1;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.container-room ::-webkit-scrollbar {
  width: 10px;
}
.container-room ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.container-room ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.container-room ::-webkit-scrollbar-thumb:hover {
  background: #555;
}





.container-room .left-cont {
  width: 100%;
  background-color: #393e46;
  height: 100vh;
  padding: 50px;
  text-align: center;
  position: flex;
  top: 0;
}
.container-room .left-cont .whiteboard-cont {
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 50px;
  padding-bottom: 0;
  min-height: 600px;
}
.container-room .left-cont .whiteboard-cont #whiteboard {
  background-color: white;
  border-radius: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont {
  position: absolute;
  right: 80px;
  top: 80px;
  display: flex;
  flex-direction: column;
}
.container-room .left-cont .whiteboard-cont .colors-cont .black {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: black;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .black:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .red {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #e74c3c;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .red:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .yellow {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #f1c40f;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .yellow:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .green {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #badc58;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .green:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .orange {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #e67e22;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .orange:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .purple {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #9b59b6;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .purple:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .blue {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #3498db;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .blue:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .pink {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #fd79a8;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .pink:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .brown {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #834c32;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .brown:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .grey {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: gray;
  margin-top: 10px;
}
.container-room .left-cont .whiteboard-cont .colors-cont .grey:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .eraser {
  height: 30px;
  width: 30px;
  font-size: 26px;
  margin-top: 10px;
  color: #2b2b2b;
}
.container-room .left-cont .whiteboard-cont .colors-cont .eraser:hover {
  cursor: pointer;
}
.container-room .left-cont .whiteboard-cont .colors-cont .clearboard {
  height: 30px;
  width: 30px;
  font-size: 26px;
  margin-top: 10px;
  color: #2b2b2b;
}
.container-room .left-cont .whiteboard-cont .colors-cont .clearboard:hover {
  cursor: pointer;
}

.container-room .left-cont #editorParent {
  height: 85vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 50px 50px;
  min-height: 600px;
  /* background-color: white; */
  border-radius: 10px;
  margin-top: 5vh;
  
}

.container-room .left-cont #editorParent #editor{
  background-color: white;
}

.container-room .left-cont #editorParent #ql-close{
  float: right;
  position: relative;
  bottom: 90%;
  right: 2%;
  border: 1px solid #4ecca3;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  background: white;

}
.container-room .left-cont #editorParent #ql-close:hover{
  cursor: pointer;
  background:#4ecca3;
  transform: scaleZ(5%);
}

.container-room .left-cont #editorParent .ql-toolbar{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ql-editor{
  padding-top: 20px !important;
}




.container-room .left-cont .video-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 75vh;
}

.container-room .left-cont .video-cont .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}



.container-room .left-cont .video-cont .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.container-room .left-cont .video-cont .video-box .nametag {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}


.container-room .left-cont .video-cont .video-box .video-off {
  color: white;
  bottom: 10px;
  position: absolute;
  font-weight: bold;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.container-room .left-cont .video-cont .video-box .mute-icon {
  color: #d63434;
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 20px;
  bottom: 10px;
}
.container-room .left-cont .video-cont-single {
  height: 75vh;
}
.container-room .left-cont .video-cont-single .video-box {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.container-room .left-cont .video-cont-single .video-box .video-frame {
  background-color: #353b48;
  height: 100%;
  min-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.container-room .left-cont .video-cont-single .video-box .nametag {
  color: white;
  bottom: 10px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.container-room .left-cont .video-cont-single .video-box .video-off {
  color: white;
  bottom: 10px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.container-room .left-cont .video-cont-single .video-box .mute-icon {
  color: #d63434;
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 20px;
  bottom: 10px;
}
.container-room .left-cont .footer {
  position: relative;
}
.container-room .left-cont .footer .utils {
  text-align: center;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  width: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
}
.container-room .left-cont .footer .utils .audio {
  background-color: #4ecca3;
  text-align: center;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.container-room .left-cont .footer .utils .audio:hover {
  cursor: pointer;
  background-color: #393e46;
}


.container-room .left-cont .footer .utils .novideo {
  background-color: #4ecca3;
  text-align: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.container-room .left-cont .footer .utils .novideo:hover {
  cursor: pointer;
  background-color: #393e46;
}

.container-room .left-cont .footer .utils .nodisplay,.screenshare,.board-icon,.text-icon,.invite-icon,.raisehand-icon,.chat-icon,.team-icon {
  background-color: #d8d8d8;
  text-align: center;
  margin-left: 10px;
  color: #393e46;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.container-room .left-cont .footer .utils :where(.nodisplay,.screenshare,.board-icon,.text-icon,.invite-icon,.raisehand-icon,.chat-icon,.team-icon):hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
}

/* .container-room .left-cont .footer .utils .screenshare {
  background-color: #d8d8d8;
  text-align: center;
  margin-left: 10px;
  color: #393e46;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
} */
/* .container-room .left-cont .footer .utils .screenshare:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
} */
/* .container-room .left-cont .footer .utils .board-icon {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
} */
/* .container-room .left-cont .footer .utils .board-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
} */

/* .container-room .left-cont .footer .utils .text-icon {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
} */
/* .container-room .left-cont .footer .utils .text-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
} */

/* .container-room .left-cont .footer .utils .invite-icon {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
} */
/* .container-room .left-cont .footer .utils .invite-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
 }
 
 .container-room .left-cont .footer .utils .raisehand-icon  {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.container-room .left-cont .footer .utils .raisehand-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
  
  
} 



.container-room .left-cont .footer .utils .chat-icon  {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.container-room .left-cont .footer .utils .chat-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
  
  
} 



.container-room .left-cont .footer .utils .team-icon  {
  background-color: #d8d8d8;
  text-align: center;
  color: #393e46;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}
.container-room .left-cont .footer .utils .team-icon:hover {
  cursor: pointer;
  color: white;
  background-color: #393e46;
  
  
}  */



.container-room .left-cont .footer .utils .cutcall {
  background-color: #cc4e4e;
  text-align: center;
  margin-left: 10px;
  color: white;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100px;
  transition: background-color 0.3s;
}
.container-room .left-cont .footer .utils .cutcall:hover {
  cursor: pointer;
  background-color: #393e46;
  
}
.container-room .left-cont .footer .copycode-cont {
  position: absolute;
  top: -20px;
  left:0;
  display: flex;
}
.container-room .left-cont .footer .copycode-cont .roomcode {
  color: #4ecca3;
  padding: 10px 20px;
  width: 120px;
  text-align: center;
  background-color: white;
  border-bottom: 3px solid #4ecca3;
  font-weight: bold;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.container-room .left-cont .footer .copycode-cont .copycode-button {
  padding: 10px 10px;
  width: 100px;
  text-align: center;
  color: white;
  background-color: #4ecca3;
  border: none;
  font-weight: bold;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.container-room .left-cont .footer .copycode-cont .copycode-button:hover {
  cursor: pointer;
}
.container-room .left-cont .footer .copycode-cont .copycode-button:focus {
  outline: none;
}

.container-room .left-cont #speakingModal {
  display: none; 
  position: fixed; 
  z-index: 1;  
  right: 3em;
  bottom: 8em;
  width: 30%; 
  height: 7%; 
  overflow: auto; 
  
}

.container-room .left-cont #speakingModal .content {
  background-color: aqua;
  padding: 20px;
  border: 2px solid #888;
  width: 100%; 
  height: 100%;
  text-align: center;
}

.container-room .left-cont #speakingModal .content p{
    font-size: large;

}

.container-room .right-cont {
  width: 30%;
  background-color: #ffffff;
  height: 100vh;
  z-index: 999;
  border: 1px solid black;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.container-room .right-cont ::-webkit-scrollbar {
  width: 10px;
}
.container-room .right-cont ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.container-room .right-cont ::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
.container-room .right-cont ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container-room .right-cont .head-title {
  font-weight: bold;
  color: #393e46;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  border-bottom: 2px solid #393e46;
}
.container-room .right-cont .head-title .chats,
.container-room .right-cont .head-title .attendies {
  padding: 10px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  transition: background-color 0.5s;
}
.container-room .right-cont .head-title .chats:hover,
.container-room .right-cont .head-title .attendies:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
.container-room .right-cont .chat-cont {
  background-color: #ffffff;
  height: 84vh;
  padding: 10px;
  padding-top: 10px;
  overflow-y: scroll;
}
.container-room .right-cont .chat-cont .message {
  margin-bottom: 15px;
  margin-left: 10px;
  background-color: #ffffff;
  border-radius: 2px;
  word-break: break-all;
  word-wrap: break-word;
}
.container-room .right-cont .chat-cont .message .info {
  display: flex;
  font-size: 0.85rem;
}
.container-room .right-cont .chat-cont .message .info .username {
  font-weight: bold;
  color: #4ecca3;
}
.container-room .right-cont .chat-cont .message .info .time {
  margin-left: 12px;
}
.container-room .right-cont .chat-cont .message .content {
  margin-top: 5px;
  font-size: 0.9rem;
}
.container-room .right-cont .chat-input-cont {
  padding: 12px;
  display: flex;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
}
.container-room .right-cont .chat-input-cont .ci-cont {
  width: 90%;
}
.container-room .right-cont .chat-input-cont .ci-send {
  width: 20%;
  margin-left: 20px;
}
.container-room .right-cont .chat-input-cont .two.uk-textarea.uk-margin {
  width: 100%;
  height: 36px;
  font-size: 0.85rem;
  padding: 2px 5px;
  border: none;
  border-bottom: 3px solid #4ecca3;
  color: #393e46;
}
.container-room .right-cont .chat-input-cont .two.uk-textarea.uk-margin:focus {
  outline: none;
}
.container-room .right-cont .chat-input-cont .second-btn {
  background: white !important;
  border: none;
  border-bottom: 3px solid #4ecca3;
}
.container-room .right-cont .chat-input-cont .second-btn:hover {
  cursor: pointer;
  background: #4ecca3 !important;
  border-radius: 50%;
}
.fg-emoji-container{
  transform: translateX(-110%) translateY(-2%);
}
.container-room .right-cont .chat-input-cont .chat-send {
  height: 36px;
  padding: 5px 2px;
  border: none;
  background-color: white;
  color: #4ecca3;
  font-weight: bold;
  font-size: 0.85rem;
  border-radius: 2px;
  transition: background-color 0.5s;
}
.container-room .right-cont .chat-input-cont .chat-send:hover {
  color: #2980b9;
  cursor: pointer;
  background-color: #f3f3f3;
}
.container-room .right-cont .chat-input-cont .chat-send:focus {
  outline: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #0f0f0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  font-size: 14px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0f0f0f transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

/* navbar */
/*
nav {    
  display: block;
  text-align: right;
  margin-top:0;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.nav a {
  display:block; 
  
  background-color: #37bc9b;
  color: #37bc9b;
  text-decoration: none;
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #000;
  position: relative;
}
.nav{  
  vertical-align: top; 
  display: inline-block;
  /*
  box-shadow: 
    1px -1px -1px 1px #000, 
    -1px 1px -1px 1px #fff, 
    0 0 6px 3px #fff;
	
  border-radius:6px;
  
}
.nav li {
  position: relative;
}
.nav > li { 
  float: left; 
  border-bottom: 4px #aaa solid; 
  margin-right: 1px; 
} 
.nav > li > a { 
  margin-bottom: 1px;
  /*box-shadow: inset 0 2em .33em -0.5em #555;
}
.nav > li:hover, 
.nav > li:hover > a { 
  border-bottom-color: orange;
}
.nav li:hover > a { 
  color:orange; 
}
.nav > li:first-child { 
  border-radius: 4px 0 0 4px;
} 
.nav > li:first-child > a { 
  border-radius: 4px 0 0 0;
}
.nav > li:last-child { 
  border-radius: 0 0 4px 0; 
  margin-right: 0;
} 
.nav > li:last-child > a { 
  border-radius: 0 4px 0 0;
}
.nav li li a { 
  margin-top: 1px;
}

.nav li a:first-child:nth-last-child(2):before { 
  content: ""; 
  position: absolute; 
  height: 0; 
  width: 0; 
  border: 5px solid transparent; 
  top: 50% ;
  right:5px;  
 }
 
 submenu positioning 
 
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 5px;
  min-width: 100%;
}
.nav > li li:hover > ul { 
  left: 100%;
  margin-left: 1px;
  top: -1px;
}
 arrow hover styling 

.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: orange; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: orange;
  right: 10px; 
}

*/


/* A simple, css only, (some-what) responsive menu */


 
.wrap {
  display: block;
  -webkit-box-shadow: 0 0 30px #fff;
  -moz-box-shadow: 0 0 30px #fff;
  box-shadow: 0 0 30px #fff;
  
  text-align: right;
  margin-top:0;
}



a {
  text-decoration: none;
  color: #fff;
  display: block;
}

ul {
  list-style: none;
  position: relative;
   
  
}

li {
  float: right;
}

/* clear'n floats */
ul:after {
  clear: both;
  
}

ul:before,
ul:after {
    content: " ";
    display: table;
	
}

nav {
  position: relative;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 2px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top:0;
  
  
}


/* prime */
ul.primary li a {
  display: relative;
  padding: 10px 20px;
  border-right: 1px solid #3D3D3D;
  
 
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  
  color: #000;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
  width: 35%;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 20px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: grid ;
  background: #fff;
  width: 150px;
  text-align: center;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

.synChat{
  position: absolute;
  right: 5em;
  top: 2em;
}
.synChat a{
  color: white;
  background-color: #4ecca3;
  border: 2px solid #4ecca3;
  border-radius: 20px;
  padding: 10px;
}
.synChat a:hover{
  color: #4ecca3;
  background-color:white ;
}

.statisticsScreen{
  background-color: white;
  width: 50vw;
  height: 50vh;
  bottom: 25%;
  left: 25%;
  position: fixed;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* opacity: 0; */
}

.statisticsScreen .headers{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statisticsScreen .statContent{
  width: 100%;
  height: 85%;
  display: flex;

}
.statisticsScreen hr{
  width: 100%;
  
}
.statisticsScreen .headers h3{
  display: inline;
  margin-right: 2em;
}
.statisticsScreen .statContent .totalTime{
  width: 50%;
  height: 100%;
  border-right: 1px solid black;
}
.statisticsScreen .statContent .totalTime .totalTimeList li{
  float: left;
  margin: 0.5em;
}
.statisticsScreen .statContent .reactions{
  width: 50%;
  height: 100%;
}


@media only screen and (max-width: 200px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;

  }
  
   li {
    float: none;

  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
	
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}