button:hover {
    border: none;
    color: #fff;
}
button{
    padding: 10px;
    border: none;
    color: #fff;
}
.chat__messages, .chat__sidebar ul {
    list-style-type: none
}
.hide-modal-dynamic{
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem
}

li, ul {
    list-style-position: inside
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem
}

button {
    background: #265f82;
    cursor: pointer;
    transition: background .3s ease;
    font-size: 14px;
}

button:hover {
    background: #1F4C69
}

button:disabled {
    cursor: default;
    background: #698ea5
}

.centered-form {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
	
}

.centered-form__form {
    /*background: rgba(150, 150, 250, .9);*/
	background: LightBlue;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0 20px;
    margin: 20px;
    width: 230px
}

.form-field {
    margin: 20px 0
}

.form-field > * {
    width: 100%
}

.form-field label {
    display: block;
    margin-bottom: 7px
}
input[type=text]{
    font-size: 14px;
}
.form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
}

.chat {
    display: flex
}
ol li{
    font-size: 14px;
}
.chat__sidebar {
    overflow-y: scroll;
    width: 260px;
    height: 100vh;
    background: -moz-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(49, 84, 129, 1)), color-stop(100%, rgba(39, 107, 130, 1)));
    background: -webkit-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -o-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: -ms-linear-gradient(125deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
    background: linear-gradient(325deg, rgba(39, 107, 130, 1) 0, rgba(49, 84, 129, 1) 100%);
	background: #e6eaee;
}

.chat__footer, .chat__sidebar li {
    background: #e6eaee;
	 
    padding: 10px
}

.chat__sidebar h3 {
   /* color: #e6eaee;*/
    background: #e6eaee;
	
    margin: 10px 20px;
    text-align: left
}

.chat__sidebar li {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 10px
	
	
}

.chat__main {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100%
}

.chat__messages {
    flex-grow: 1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 10px
}

.chat__footer {
    display: flex;
    flex-shrink: 0;
}

.chat__footer form {
    flex-grow: 1;
    display: flex
}

.chat__footer form * {
    margin-right: 10px
}

.chat__footer input {
    border: none;
    padding: 10px;
    flex-grow: 1
}

.chat__footer #message-form .ci-cont{
    display: flex;
}
.chat__footer #message-form button{
    border-radius: 40px;
}
.chat__footer #message-form> button{
   border-radius: 50%;
    margin: 4px 6px;
    padding: 8px;
    text-align: center;
}
.chat__footer #message-form> button:hover{
   background-color: #e6eaee !important;
}
.fg-emoji-container{
    transform: translateY(-70px);
}

.message {
    padding: 10px
	
}

.message__title {
    display: flex;
}
.message__body p{
    font-size: 14px !important;
	width:100px;
}
.message__body p a{
    font-size: 14px !important;
}
.message__title h4 {
    font-weight: 600;
    margin-right: 10px
}

.message__title span {
    color: #999
}

@media (max-width: 600px) {
    * {
        font-size: 1rem
    }
    #show-people{
        display: block;
    }
    .chat__sidebar {
        position: absolute;
        left: -300px;
        z-index: 1111;
		
    }

    .chat__footer {
        flex-direction: column
    }

    .chat__footer form {
        margin-bottom: 10px
    }

    .chat__footer button {
        margin-right: 0
    }
}
.user-time{
    display: inline-block;
    font-size: 16px;
    padding-top: 8px;
}
.progress-hide{
    display: none;
}
.private-progress-hide{
    display: none;
}
.private-msg-btn{
    display: block
}
.modal-header{
    position: relative;
    padding: 20px;
}
#audio-call{
    position: absolute;
    left:40%;
    top: 15%;
}
#video-call{
    position: absolute;
    left:50%;
    top: 15%;
}

.hide-show-people{
    left: 0;
}
.change-button-position{
    position: absolute;
    top: 0;
    left: 75%;
    z-index: 1111;
}
.call-section{
    background-image: linear-gradient(to bottom,#e1e8f0,#dddfd4);
    padding: 15px;
    position: relative
}
.accept-call{
    margin-right: 10px;
}
.accept-reject-call{
    display: none;
}
.end-call{
    display: none;
}
.hide-call-button{
    display: none;
}
.new-message{
    position: absolute;
    top: 30%;
    right: 0%;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: white;
    width: 40px;
	height: 40px;
	background-image: linear-gradient(to bottom,#98dafc,#16174f);
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	padding: 10px;
	display: none;
}
.user-list{
    position: relative;
}
.alert-display{
    position: relative;
    z-index: 999999;
    margin-bottom: 20px;
    font-size: 1em;
    
}
.alert-hide{
    display: none;
}
.alert-text{
    font-size: 1.5em !important;
}


#video-calling-text{
    font-size: 18px;
}
#audio-calling-text{
    font-size: 18px;
}
.accept-reject-video-call{
    display: none;
}
.end-video-call{
    display: none;
}
#other-video{
    width: 100%;
    height: 300px;
}
.self-video{
    display: none;
}
.other-video{
    display: none;
}
.hide-time{
    display: none;
}

/*
.status {
  
  &.offline {
    .online-msg {
      display: none;
    }
    .offline-msg {
      display: block;
    }
  }
  div {
    padding: 1rem 2rem;
    font-size: 3rem;
    border-radius: 1rem;
    color: white;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  .online-msg {
    background: green;
    display: block;
  }
  .offline-msg {
    background: red;
    display: none;
  }
}
*/

.status {
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4vh;
  font-size: 10px;
}

.status.online {
  border: 2px solid #41a700;
  color: #41a700;
}

.status.offline {
  border: 2px solid #f15c4f;
  color: #f15c4f;
}

#groupBtn{
    width: 9em;
    margin-left: 10%;
    margin-top: 5px;
    border: 1px solid #41a700;
    border-radius:30px;
    color: #41a700;
    font-size: 16px;
    
}

#groupBtn:hover{
    background-color: white;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  
.dropdown button{
    border:none;
    border-radius:5px;
    padding:10px 0px;
    width: 9em;
    margin-left: 10%;
    font-size:18px;
    cursor:pointer;
    background-color: white;
    color: #41a700;
    border: 1px solid #41a700;
  }

  
.dropdown button:hover{
    background-color:#ddd;
  }
  
.dropdown .dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    z-index: 99;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
    margin-left: 10%;
  }
  
  .dropdown-options a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:15px 40px;
    font-size: 15px;
    cursor: default;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
  }

#newUserModal {
    display: none; 
    position: fixed; 
    z-index: 1;  
    left: 40%;
    top: 3%;
    width: 30%; 
    height: 7%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  #newUserModal .content {
    background-color: #fefefe;
    padding: 20px;
    border: 2px solid #888;
    width: 100%; 
    height: 100%;
    text-align: center;
}

#newUserModal .content p{
      font-size: large;

  }
  

#chatinput{
    font-size: medium;
}
  

.newGroupForm{
     width: 50em;
    position: absolute;
    top: 1em;
    left:1em;
    z-index: 99;
    border: 1px solid black;
    background-color: black;
    color: #41a700;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5);
    display: none;
}



.newGroupForm .groupForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* flex-shrink: 1; */
}

.newGroupForm label{
    font-size: 1.5em;
}
.newGroupForm h3{
    font-size: 2.5em;
}
.newGroupForm .form-field{
    margin:5px 0;
}
.newGroupForm input{
    width: 190px;
}
.newGroupForm h4{
    font-size: 2em;
    font-weight: 500;
}
.newGroupForm .form-field-check input{
    width: 30px;
}
.newGroupForm button{
    width: 90px;
    border-radius: 30px;
    display: inline;
    margin-left: 5px;
    margin-right:5px;
    background-color:#41a700;
    font-weight: 600;

}


#groups .groupList li{
    display:flex;
    flex-direction: column;
}
#groups .groupList li label{
    font-size: 12px;
}
#groups .groupList li label:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#groups .groupList li label span{
    color: red;
    font-size: 12px;
}
#groups .groupList li button{
    width: max-content;
}
#groups .groupList li span{
    background: red;
    width: 2em;
    height: 2em;
    position: relative;
    left: 10em;
    bottom: 2em;
    border-radius: 50%;
    text-align: center;
    padding: 0.3em;
    font-size: 1.3em;
}

.closeGroupBtn{
    position: absolute;
    top: 2em;
    right: 15em;
    width: max-content;
    font-size: 2em;
    border-radius: 20px;
    background-color: white;
    color:#41a700 ;
}

.delGroupBtn{
    position: absolute;
    top: 2em;
    right: 7em;
    width: max-content;
    font-size: 2em;
    border-radius: 20px;
    background-color: red;
    color:white ;
}
.delGroupBtn:hover{
    
    background-color: white;
    color:red ;
}

  
  .invite-icon{
    background-color: #e6eaee;
    text-align: center;
    /* margin-left: 10px; */
    color: #393e46;
    padding: 30px;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    transition: color 0.3s;
    
}
.tooltip{
    right: 4em;
    top: 2em;
    opacity: 100;
}
.tooltip .tooltiptext{
      font-size: 1.2em;
    
  }
  .invite-icon:hover {
    cursor: pointer;
    color: white;
    background-color: #393e46;
  }
  .ltr {
    text-align: left;
  }
  
  .rtl {
    text-align: right;
  }
  
  .editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    user-select: none;
    pointer-events: none;
  }
  
  .editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
  }

  #editorParent{
    width: 70vw;
    height: 60vh;
    position: fixed;
    bottom: 7em;
    left: 23em;
    border: 1px solid black;
    display: none;
    background-color: beige;
  }

  #editorParent .ql-toolbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

   #editorParent #ql-close{
    float: right;
    position: relative;
    bottom: 92%;
    right: 1%;
    border: 1px solid #4ecca3;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background: white;
  
  }
   #editorParent #ql-close:hover{
    cursor: pointer;
    background:#4ecca3;
    transform: scaleZ(5%);
  }
  

